{% from "macros/task-card.njk" import taskCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}

  <h1 class="govuk-heading-xl">All Tasks</h1>

  <div class="govuk-!-margin-bottom-6">
    {{ govukButton({
      text: "Add Task",
      href: "/add-task"
    }) }}
  </div>

  <section class="task-list">
    {% if items.length %}
      {% for item in items %}
        {{ taskCard(item) }}
      {% endfor %}
    {% else %}
      <p class="govuk-body">No tasks available.</p>
    {% endif %}
  </section>

{% endblock %}
