{% from "macros/task-card.njk" import taskCard %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}

  <h1 class="govuk-heading-xl">All Tasks</h1>

  <section class="task-list">
    {% for item in items %}
      {{ taskCard(item.title, item.description, item.dueDate) }}
    {% endfor %}
  </section>


{% endblock %}

