{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">Delete task: {{ task.title }}</h1>

  {{ govukWarningText({
    text: "Are you sure you want to delete this task? This action cannot be undone.",
    iconFallbackText: "Warning"
  }) }}

  <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value">{{ task.description }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Due date</dt>
      <dd class="govuk-summary-list__value">{{ task.dueDate }}</dd>
    </div>
     <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Created date</dt>
      <dd class="govuk-summary-list__value">{{ task.createdDate }}</dd>
    </div>
  </dl>

  <form method="post" action="/tasks/{{ task.id }}/delete">
    {{ govukButton({
      text: "Yes, delete task",
      classes: "govuk-button--warning"
    }) }}
  </form>

  <p class="govuk-body">
    <a href="/tasks" class="govuk-link">Cancel and go back</a>
  </p>
{% endblock %}
